# Empty project notebook

In [71]:
# Import python packages
import numpy as np
import pandas as pd
import scipy as sp
import sklearn as sk
import seaborn as sns
import matplotlib as plt

# Check version numbers
print(f'numpy: {np.version.version}')
print(f'pandas: {pd.__version__}')
print(f'scipy: {sp.__version__}')
print(f'scikit-learn: {sk.__version__}')
print(f'seaborn: {sns.__version__}')
print(f'matplotlib: {plt.__version__}')

numpy: 2.2.3
pandas: 2.2.3
scipy: 1.15.2
scikit-learn: 1.6.1
seaborn: 0.13.2
matplotlib: 3.10.1

In [72]:
import os
import pandas as pd

# Define your folder path
folder_path = os.path.expanduser("~/Desktop/Coding Stuff/PodcastPred")

# File names 
file1 = os.path.join(folder_path, "train.csv")  
file2 = os.path.join(folder_path, "test.csv")  

# Read the CSV files into DataFrames
df_train = pd.read_csv(file1)
df_test = pd.read_csv(file2)

# Check to make sure they loaded correctly
print(df_train.head)
print(df_test.head)

<bound method NDFrame.head of             id      Podcast_Name Episode_Title  Episode_Length_minutes  \
0            0   Mystery Matters    Episode 98                     NaN
1            1     Joke Junction    Episode 26                  119.80
2            2    Study Sessions    Episode 16                   73.90
3            3    Digital Digest    Episode 45                   67.17
4            4       Mind & Body    Episode 86                  110.51
...        ...               ...           ...                     ...
749995  749995      Learning Lab    Episode 25                   75.66
749996  749996   Business Briefs    Episode 21                   75.75
749997  749997  Lifestyle Lounge    Episode 51                   30.98
749998  749998       Style Guide    Episode 47                  108.98
749999  749999    Sports Central    Episode 99                   24.10

             Genre  Host_Popularity_percentage Publication_Day  \
0       True Crime                       74.81        Thursday
1           Comedy                       66.95        Saturday
2        Education                       69.97         Tuesday
3       Technology                       57.22          Monday
4           Health                       80.07          Monday
...            ...                         ...             ...
749995   Education                       69.36        Saturday
749996    Business                       35.21        Saturday
749997   Lifestyle                       78.58        Thursday
749998   Lifestyle                       45.39        Thursday
749999      Sports                       22.45        Saturday

       Publication_Time  Guest_Popularity_percentage  Number_of_Ads  \
0                 Night                          NaN            0.0
1             Afternoon                        75.95            2.0
2               Evening                         8.97            0.0
3               Morning                        78.70            2.0
4             Afternoon                        58.68            3.0
...                 ...                          ...            ...
749995          Morning                          NaN            0.0
749996            Night                          NaN            2.0
749997          Morning                        84.89            0.0
749998          Morning                        93.27            0.0
749999            Night                        36.72            0.0

       Episode_Sentiment  Listening_Time_minutes
0               Positive                31.41998
1               Negative                88.01241
2               Negative                44.92531
3               Positive                46.27824
4                Neutral                75.61031
...                  ...                     ...
749995          Negative                56.87058
749996           Neutral                45.46242
749997          Negative                15.26000
749998          Negative               100.72939
749999           Neutral                11.94439

[750000 rows x 12 columns]>
<bound method NDFrame.head of             id         Podcast_Name Episode_Title  Episode_Length_minutes  \
0       750000  Educational Nuggets    Episode 73                   78.96
1       750001          Sound Waves    Episode 23                   27.87
2       750002        Joke Junction    Episode 11                   69.10
3       750003        Comedy Corner    Episode 73                  115.39
4       750004         Life Lessons    Episode 50                   72.32
...        ...                  ...           ...                     ...
249995  999995          Mind & Body   Episode 100                   21.05
249996  999996        Joke Junction    Episode 85                   85.50
249997  999997        Joke Junction    Episode 63                   12.11
249998  999998       Market Masters    Episode 46                  113.46
249999  999999          Brain Boost    Episode 46                   78.05

            Genre  Host_Popularity_percentage Publication_Day  \
0       Education                       38.11        Saturday
1           Music                       71.29          Sunday
2          Comedy                       67.89          Friday
3          Comedy                       23.40          Sunday
4       Lifestyle                       58.10       Wednesday
...           ...                         ...             ...
249995     Health                       65.77        Saturday
249996     Comedy                       41.47        Saturday
249997     Comedy                       25.92        Thursday
249998   Business                       43.47          Friday
249999  Education                       41.72          Friday

       Publication_Time  Guest_Popularity_percentage  Number_of_Ads  \
0               Evening                        53.33            1.0
1               Morning                          NaN            0.0
2               Evening                        97.51            0.0
3               Morning                        51.75            2.0
4               Morning                        11.30            2.0
...                 ...                          ...            ...
249995          Evening                        96.40            3.0
249996            Night                        30.52            2.0
249997          Evening                        73.69            1.0
249998            Night                        93.59            3.0
249999          Morning                        50.77            0.0

       Episode_Sentiment
0                Neutral
1                Neutral
2               Positive
3               Positive
4                Neutral
...                  ...
249995          Negative
249996          Negative
249997           Neutral
249998          Positive
249999          Negative

[250000 rows x 11 columns]>

In [73]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           750000 non-null  int64
 1   Podcast_Name                 750000 non-null  object
 2   Episode_Title                750000 non-null  object
 3   Episode_Length_minutes       662907 non-null  float64
 4   Genre                        750000 non-null  object
 5   Host_Popularity_percentage   750000 non-null  float64
 6   Publication_Day              750000 non-null  object
 7   Publication_Time             750000 non-null  object
 8   Guest_Popularity_percentage  603970 non-null  float64
 9   Number_of_Ads                749999 non-null  float64
 10  Episode_Sentiment            750000 non-null  object
 11  Listening_Time_minutes       750000 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 68.7+ MB

In [74]:
df_cat = df_train[['Podcast_Name', 'Episode_Title', 'Genre', 'Episode_Sentiment']]
df_cat.info

<bound method DataFrame.info of             Podcast_Name Episode_Title       Genre Episode_Sentiment
0        Mystery Matters    Episode 98  True Crime          Positive
1          Joke Junction    Episode 26      Comedy          Negative
2         Study Sessions    Episode 16   Education          Negative
3         Digital Digest    Episode 45  Technology          Positive
4            Mind & Body    Episode 86      Health           Neutral
...                  ...           ...         ...               ...
749995      Learning Lab    Episode 25   Education          Negative
749996   Business Briefs    Episode 21    Business           Neutral
749997  Lifestyle Lounge    Episode 51   Lifestyle          Negative
749998       Style Guide    Episode 47   Lifestyle          Negative
749999    Sports Central    Episode 99      Sports           Neutral

[750000 rows x 4 columns]>

In [75]:
print(df_train['Genre'].value_counts())
print(df_train['Episode_Sentiment'].value_counts())

Genre
Sports        87606
Technology    86256
True Crime    85059
Lifestyle     82461
Comedy        81453
Business      80521
Health        71416
News          63385
Music         62743
Education     49100
Name: count, dtype: int64
Episode_Sentiment
Neutral     251291
Negative    250116
Positive    248593
Name: count, dtype: int64

In [76]:
#Let's turn Episode_Sentiment into a binary variable
df = df_train.copy()
df['Episode_Sentiment'] = df_train['Episode_Sentiment'].map({'Positive': 1, 'Negative': -1, 'Neutral': 0})
df = pd.get_dummies(df_train, columns=['Genre'], drop_first=True)

# Convert only the new Genre columns to int
genre_cols = [col for col in df.columns if col.startswith('Genre_')]
df[genre_cols] = df[genre_cols].astype(int)
df.head()

,id,Podcast_Name,Episode_Title,Episode_Length_minutes,Host_Popularity_percentage,Publication_Day,Publication_Time,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment,Listening_Time_minutes,Genre_Comedy,Genre_Education,Genre_Health,Genre_Lifestyle,Genre_Music,Genre_News,Genre_Sports,Genre_Technology,Genre_True Crime
0,0,Mystery Matters,Episode 98,NaN,74.81,Thursday,Night,NaN,0.0,Positive,31.41998,0,0,0,0,0,0,0,0,1
1,1,Joke Junction,Episode 26,119.80,66.95,Saturday,Afternoon,75.95,2.0,Negative,88.01241,1,0,0,0,0,0,0,0,0
2,2,Study Sessions,Episode 16,73.90,69.97,Tuesday,Evening,8.97,0.0,Negative,44.92531,0,1,0,0,0,0,0,0,0
3,3,Digital Digest,Episode 45,67.17,57.22,Monday,Morning,78.70,2.0,Positive,46.27824,0,0,0,0,0,0,0,1,0
4,4,Mind & Body,Episode 86,110.51,80.07,Monday,Afternoon,58.68,3.0,Neutral,75.61031,0,0,1,0,0,0,0,0,0

In [77]:
df['Episode_Sentiment'] =df['Episode_Sentiment'].map({'Positive': 1, 'Negative': -1, 'Neutral': 0})

In [78]:
df.head()

,id,Podcast_Name,Episode_Title,Episode_Length_minutes,Host_Popularity_percentage,Publication_Day,Publication_Time,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment,Listening_Time_minutes,Genre_Comedy,Genre_Education,Genre_Health,Genre_Lifestyle,Genre_Music,Genre_News,Genre_Sports,Genre_Technology,Genre_True Crime
0,0,Mystery Matters,Episode 98,NaN,74.81,Thursday,Night,NaN,0.0,1,31.41998,0,0,0,0,0,0,0,0,1
1,1,Joke Junction,Episode 26,119.80,66.95,Saturday,Afternoon,75.95,2.0,-1,88.01241,1,0,0,0,0,0,0,0,0
2,2,Study Sessions,Episode 16,73.90,69.97,Tuesday,Evening,8.97,0.0,-1,44.92531,0,1,0,0,0,0,0,0,0
3,3,Digital Digest,Episode 45,67.17,57.22,Monday,Morning,78.70,2.0,1,46.27824,0,0,0,0,0,0,0,1,0
4,4,Mind & Body,Episode 86,110.51,80.07,Monday,Afternoon,58.68,3.0,0,75.61031,0,0,1,0,0,0,0,0,0

In [79]:
import numpy as np

# Assume you have a column like this: df['DayOfWeek'] = ['Monday', 'Tuesday', ..., 'Sunday']
# First map to 0-6 (or 1-7, doesn't matter as long as it's consistent)
day_mapping = {'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3,
               'Friday': 4, 'Saturday': 5, 'Sunday': 6}
df['Publication_Day'] = df['Publication_Day'].map(day_mapping)

# Now apply sine and cosine transforms
df['day_sin'] = np.sin(2 * np.pi * df['Publication_Day'] / 7)
df['day_cos'] = np.cos(2 * np.pi * df['Publication_Day'] / 7)

In [80]:
df['Publication_Time'].value_counts()

Publication_Time
Night        196849
Evening      195778
Afternoon    179460
Morning      177913
Name: count, dtype: int64

In [84]:


# Step 1: Clean and standardize the text
df['Publication_Time'] = df['Publication_Time'].str.strip().str.lower()

# Step 2: Map to integers (morning=0, ..., night=3)
time_mapping = {'morning': 0, 'afternoon': 1, 'evening': 2, 'night': 3}
df['time_num'] = df['Publication_Time'].map(time_mapping)

# Step 3: Apply cyclical encoding
df['time_sin'] = np.sin(2 * np.pi * df['time_num'] / 4)
df['time_cos'] = np.cos(2 * np.pi * df['time_num'] / 4)

# Optional: drop the numeric helper column
df.drop(columns=['time_num'], inplace=True)


print(df['Publication_Time'].value_counts())

Publication_Time
night        196849
evening      195778
afternoon    179460
morning      177913
Name: count, dtype: int64

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 24 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           750000 non-null  int64
 1   Podcast_Name                 750000 non-null  object
 2   Episode_Title                750000 non-null  object
 3   Episode_Length_minutes       662907 non-null  float64
 4   Host_Popularity_percentage   750000 non-null  float64
 5   Publication_Day              750000 non-null  int64
 6   Publication_Time             750000 non-null  object
 7   Guest_Popularity_percentage  603970 non-null  float64
 8   Number_of_Ads                749999 non-null  float64
 9   Episode_Sentiment            750000 non-null  int64
 10  Listening_Time_minutes       750000 non-null  float64
 11  Genre_Comedy                 750000 non-null  int64
 12  Genre_Education              750000 non-null  int64
 13  Genre_Health                 750000 non-null  int64
 14  Genre_Lifestyle              750000 non-null  int64
 15  Genre_Music                  750000 non-null  int64
 16  Genre_News                   750000 non-null  int64
 17  Genre_Sports                 750000 non-null  int64
 18  Genre_Technology             750000 non-null  int64
 19  Genre_True Crime             750000 non-null  int64
 20  day_sin                      750000 non-null  float64
 21  day_cos                      750000 non-null  float64
 22  time_sin                     750000 non-null  float64
 23  time_cos                     750000 non-null  float64
dtypes: float64(9), int64(12), object(3)
memory usage: 137.3+ MB

In [87]:
df.head()
df = df.drop(columns=['Publication_Day', 'Publication_Time'])
df.head()

,id,Podcast_Name,Episode_Title,Episode_Length_minutes,Host_Popularity_percentage,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment,Listening_Time_minutes,Genre_Comedy,...,Genre_Lifestyle,Genre_Music,Genre_News,Genre_Sports,Genre_Technology,Genre_True Crime,day_sin,day_cos,time_sin,time_cos
0,0,Mystery Matters,Episode 98,NaN,74.81,NaN,0.0,1,31.41998,0,...,0,0,0,0,0,1,0.433884,-0.900969,-1.000000e+00,-1.836970e-16
1,1,Joke Junction,Episode 26,119.80,66.95,75.95,2.0,-1,88.01241,1,...,0,0,0,0,0,0,-0.974928,-0.222521,1.000000e+00,6.123234e-17
2,2,Study Sessions,Episode 16,73.90,69.97,8.97,0.0,-1,44.92531,0,...,0,0,0,0,0,0,0.781831,0.623490,1.224647e-16,-1.000000e+00
3,3,Digital Digest,Episode 45,67.17,57.22,78.70,2.0,1,46.27824,0,...,0,0,0,0,1,0,0.000000,1.000000,0.000000e+00,1.000000e+00
4,4,Mind & Body,Episode 86,110.51,80.07,58.68,3.0,0,75.61031,0,...,0,0,0,0,0,0,0.000000,1.000000,1.000000e+00,6.123234e-17

In [88]:
df['Episode_Title'].value_counts()

Episode_Title
Episode 71    10515
Episode 62    10373
Episode 31    10292
Episode 61     9991
Episode 69     9864
              ...
Episode 2      5134
Episode 25     5117
Episode 41     4965
Episode 37     4940
Episode 95     4838
Name: count, Length: 100, dtype: int64

In [89]:
df['Episode_Title'] = df['Episode_Title'].str.replace('Episode ', '', regex=False).astype(int)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           750000 non-null  int64
 1   Podcast_Name                 750000 non-null  object
 2   Episode_Title                750000 non-null  int64
 3   Episode_Length_minutes       662907 non-null  float64
 4   Host_Popularity_percentage   750000 non-null  float64
 5   Guest_Popularity_percentage  603970 non-null  float64
 6   Number_of_Ads                749999 non-null  float64
 7   Episode_Sentiment            750000 non-null  int64
 8   Listening_Time_minutes       750000 non-null  float64
 9   Genre_Comedy                 750000 non-null  int64
 10  Genre_Education              750000 non-null  int64
 11  Genre_Health                 750000 non-null  int64
 12  Genre_Lifestyle              750000 non-null  int64
 13  Genre_Music                  750000 non-null  int64
 14  Genre_News                   750000 non-null  int64
 15  Genre_Sports                 750000 non-null  int64
 16  Genre_Technology             750000 non-null  int64
 17  Genre_True Crime             750000 non-null  int64
 18  day_sin                      750000 non-null  float64
 19  day_cos                      750000 non-null  float64
 20  time_sin                     750000 non-null  float64
 21  time_cos                     750000 non-null  float64
dtypes: float64(9), int64(12), object(1)
memory usage: 125.9+ MB

In [92]:
df = df.drop(columns=['Podcast_Name'])
df.head()

,id,Episode_Title,Episode_Length_minutes,Host_Popularity_percentage,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment,Listening_Time_minutes,Genre_Comedy,Genre_Education,...,Genre_Lifestyle,Genre_Music,Genre_News,Genre_Sports,Genre_Technology,Genre_True Crime,day_sin,day_cos,time_sin,time_cos
0,0,98,NaN,74.81,NaN,0.0,1,31.41998,0,0,...,0,0,0,0,0,1,0.433884,-0.900969,-1.000000e+00,-1.836970e-16
1,1,26,119.80,66.95,75.95,2.0,-1,88.01241,1,0,...,0,0,0,0,0,0,-0.974928,-0.222521,1.000000e+00,6.123234e-17
2,2,16,73.90,69.97,8.97,0.0,-1,44.92531,0,1,...,0,0,0,0,0,0,0.781831,0.623490,1.224647e-16,-1.000000e+00
3,3,45,67.17,57.22,78.70,2.0,1,46.27824,0,0,...,0,0,0,0,1,0,0.000000,1.000000,0.000000e+00,1.000000e+00
4,4,86,110.51,80.07,58.68,3.0,0,75.61031,0,0,...,0,0,0,0,0,0,0.000000,1.000000,1.000000e+00,6.123234e-17